[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mysql-connector-python = "==8.0.19"

[packages]
pyyaml = "*"
fastapi = {extras = ["all"],version = "*"}
gunicorn = "*"
google-cloud-secret-manager = "*"
expiringdict = "*"
google-cloud-storage = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn main:app --reload"
